
@{
    ViewData["Title"] = "Edit";
}

@model TinyCrm.Core.Model.Customer



<form method="post">
    <h2>Edit info</h2>
    <div class="form-group">
        <label for="InputFirstName">First Name</label>
        <input type="text" value="@Model.Firstname" class="form-control" name="FirstName">
        <label for="InputLastName">Last Name</label>
        <input type="text" value="@Model.Lastname" class="form-control" name="LastName">
        <label for="InputVatNumber">Vat Number</label>
        <input type="number" value="@Model.VatNumber" class="form-control" name="VatNumber">
        <label for="InputPhone">Phone</label>
        <input type="number" value="@Model.Phone" class="form-control" name="Phone">
        <label for="InputEmail">Email address</label>
        <input type="email" value="@Model.Email" class="form-control" name="Email" aria-describedby="emailHelp">
        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>

