@model TinyCrm.Core.Model.Customer

@{
    ViewData["Title"] = "GetById";
}

@if (Model == null)
{
    <div class="alert alert-warning" role="alert">
        Customer not found
    </div>
    return;
}
<div class="card">
    <div class="card-header">
        @Model.Firstname @Model.Lastname
    </div>
    <div class="card-body">
        <h5 class="card-title">@Model.VatNumber</h5>
        <p class="card-text">Phone: @Model.Phone</p>
        <p class="card-text">Is Active: @Model.IsActive</p>
        <a class="btn btn-primary" href="@Url.Action("Edit", "Customer", new {id = Model.CustomerId })">Edit</a>
    </div>
</div>